.mainDiv {
    position: relative;
    display: block;
    padding: 10px;
}

.thirteen {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

.fifteen {
    margin: 15px auto;
}

.formDisplay {
    display: flex;
}

#historyList, .ui.comments .comment .text, .card .content .text {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

h1.ui.header {
    font-size: 1.7rem;
}

.ui.comments .comment .author {
    font-size: 2em;
    display: inline-block;
    margin-right: .5em;
}

.ui.comments .comment .metadata>:last-child {
    font-size: 1.3em;
    margin-left: 10px;
}

.ui.comments .comment .avatar {
    width: 4.5em;
    margin: -.3em 0 0;
}

.ui.comments .comment>.avatar~.content {
    margin-left: 5em;
}

.currentWeather {
    margin: 10px auto 25px auto;
    padding: 10px;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 2px 2px 1px black;
    background-color: white;
    border-radius: 3px;
}

.uvIndex {
    padding: 2px 5px;
}

.uvRed {
    background-color: #ff7373;
}
.uvYellow {
    background-color: yellow;
}
.uvGreen {
    background-color: green;
    color: white;
}

.futureWeatherPlacement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.cards>.card .avatar img, .ui.cards>.card img.avatar {
    width: 4em;
    height: 4em;
}

.ui.cards>.card {
    font-size: .8em;
    width: 150px;
}

.ui.comments .comment .metadata>:last-child {
    margin-left: 0px;
}
.ui.comments .comment .metadata {
    margin-left: 0px;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 450px) {

}